{% extends "base.html" %} 

{% block title %} about {% endblock %}
{% block content %}
<header>
<h1>Hello, World</h1>
</header>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <h2>I'm Chai!</h2>
        <p>
          Primarily, I'm a Software Developer. I've got a B.S. in Computer Science. Most of the
          work I've done has been developing web applications using React,
          Angular, and Vue. I'm good with in TypeScript, JavaScript, Python,
          and Java. But I'm looking to branch out my experience and learn new things. For instance:
          <br />
          <br />
          I've been teaching myself Video Game Development with C# (using Godot) as a hobby,
          with hopes to create a few things I'm proud of. <a href="https://courses.heartgamedev.com/">(Thanks, HeartBeast)</a>
          <br />
          I've been following along with Drawabox to learn how to draw properly. <a href="https://drawabox.com/lesson">(Thanks, Drawabox)</a>
        </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <div class="column column-small">
        <div class="card card-small">
          <div class="card-content">
            <h3>Things That Interest Me</h3>
            <p>
              Programming (duh), Game Development (duh), art, reading (sci-fi, fantasy, queer literature, etc).
              I love cooking! I bake bread and other forms of dough.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="column column-small">
        <div class="card card-small" style="margin-top: .5rem; margin-bottom: 0rem;">
          <div class="card-content">
            <h3>Contact Me?</h3>
            <p>
              For now, probably not.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
