{% extends "base.html" %} 

{% block title %} home {% endblock %} 

{% block content %}
<header>
  <h1 class="greeting">//////// WELCOME ////////</h1>
  
</header>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="./static/helloworld.png" alt="Hello and Welcome" />
      <container>
        <p>
          I made this welcome image in blender, what do you think? That's the quality of content you'll see.
          (I think it's pretty good).
        </p>
        <p>
          I'm a fox, and I'm gay, I'm not gonna hide it. So welcome to my hole (home). I'll put junk here. Check my GitLab if you
          want to see anything else I'm doing. You can learn more about me in the about section.
        </p>
        <br />
      </container>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="./static/chai_fox_clear.png" alt="chai fox" />
      <container>
        <p>
          Any little project I make, any cool thing I find, any sort of update on anything I'm doing,
          that'll be here.
        </p>
        <p>
          I'm learning how to draw, I'm learning how to do game dev, I'm learning how to just *do* stuff.
          So, if I get around to it, I'll try to write about anything like that here.
          <br />
        </p>
      </container>
    </div>
  </div>
</div>
{% endblock %}
