<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}untitled{% endblock %} | dippingsauce</title>
    <meta property="og:type" content="site" />
    <meta
      property="og:image"
      content="https://www.dippingsauce.net/static/temp-logo.png"
    />
    <meta property="'og:description" content="fox.wav" />
    <link rel="icon" href="favicon.png" />
    <link rel="shortcut icon" href="./static/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" />

    {% block head %} {% endblock %}
  </head>

  <body>
    <nav id="sidebar">
      <h1 class="sauce">dippingsauce</h1>
      <hr />
      <div class="external-links">
        <div class="ex-link">
          <a href="https://gitlab.com/dippingsauce" target="_blank"><img src="./static/gitlab.png" /></a>
        </div>
      </div>
      <section>
        <h2>info</h2>
        <ul>
          <li>
            {% link '/index.html', loc, 'home' %}
          </li>     
          <li>
            {% link '/about.html', loc, 'about' %}
          </li>
        </ul>
      </section>

      <!-- <section>
        <h2>web</h2>
        <ul>
          <li>
            <a href="#yip">there's</a>
          </li>
          <li>
            <a href="#yap">nothing</a>
          </li>
          <li>
            <a href="#yop">here</a>
          </li>
        </ul>
      </section> -->

      <section>
        <h2>game dev</h2>
        <ul>
          <li>
            <a href="#yip">there's</a>
          </li>
          <li>
            <a href="#yap">nothing</a>
          </li>
          <li>
            <a href="#yop">here</a>
          </li>
        </ul>
      </section>

      <section>
        <h2>cool stuff</h2>
        <ul>
          <li>
            <a href="#yip">there's</a>
          </li>
          <li>
            <a href="#yap">nothing</a>
          </li>
          <li>
            <a href="#yop">here</a>
          </li>
        </ul>
      </section>
    </nav>

    <div id="main">{% block content %} {% endblock %}</div>
  </body>
</html>
