body {
  background-color: #332c39;
  color: #f0eeed;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: auto;
	font-family: 'Dosis', sans-serif;
}

a {
  padding: .5rem 1.25rem;
  text-decoration: none;
  color: #f0eeed;
  font-size: 20px;
  display: block;
	transition: 0.25s;
}

a:hover {
  color: #c92c6d;
}

p a {
	color: #609EA2;
}

.sauce {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5rem;
	line-height: 2rem;
  text-align: center;
}
.greeting {
	text-align: center;
}
#sidebar {
  height: 100%;
  box-shadow: 10px 0px 15px -15px rgba(0, 0, 0, 0.8);
}

#sidebar h2 {
  font-size: 1.25rem;
  font-family: 'Major Mono Display', monospace;
}
#sidebar h3 {
	text-decoration: line-through;
	text-align: center;
}
#sidebar hr {
  text-align: center;
  margin: 2rem;
}
#sidebar div {
	text-align: center;
	margin: auto;
	justify-content: center;
}
#sidebar .ex-link {
	display: inline-block;
}
#sidebar img {
	max-width: 2rem;
	transition: 0.25s;
}
#sidebar img:hover {
	max-width: 2.25rem;
}
#sidebar section {
  padding: 0 1rem;
}

#sidebar section ul {
  list-style: none;
  margin-top: -1rem;
}

#main {
  font-size: 1.5rem;
  grid-column: 2 / span 5;
  padding: 1rem 3rem;
}

.active {
	color: #609EA2;
	padding: .5rem 1.25rem;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.row {
	margin: 0 -1rem;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 45%;
	padding: 0 1rem;
}

.card {
	background-color: #2F2638;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	padding-bottom: 1rem;
	min-height: 40rem;
	max-height: 40rem;
}
.card p {
	padding: 0.5rem 1.25rem 0 1.25rem ;	
	text-align: justify;
}
.card img {
	border-radius: 10px 10px 0 0;
	width: 100%;
	overflow: hidden;
}
.card-content {
	padding: 2rem;
}
.column-small {
	width: 95%;
}
.card-small {
	min-height: 18rem;
	margin-bottom: 0.5rem;
	width: 100%
}
@media (max-width: 1600px) {
  .sauce {
    font-size: 1.35rem;
  }
}

@media (max-width: 1092px) {
	.sauce {
		font-size: 1.35rem;
	}

	body {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	main {
		grid-column: 2 / span 2;
	}

	.column {
		width: 100%;
		display: block;
		margin-bottom: 2rem;
	}
	.column-small {
		width: 95%;
		display: block;
		margin-bottom: 0rem;
	}
}

@media (max-width: 820px) {
	.sauce {
		font-size: 1.25rem;
	}
}

@media (max-width: 680px) {
	.sauce {
		font-size: 1.15rem;
	}
}

@media (max-width: 585px) {
	.sauce {
		font-size: 1rem;
	}
}

@media (max-width: 490px) {
	.sauce {
		font-size: 0.75rem;
	}

	#sidebar section h2 {
		margin-left: 0;
		font-size: 1rem;
	}

	#sidebar section ul {
		margin-left: -2rem;
	}

	#sidebar hr {
		margin: 1rem 0;
	}

	#main {
		padding: 1rem 1rem;
	}

}
